plugin: aws_ec2

regions:
  - sa-east-1

filters:
  tag:Service: redis        # all instances tagged with Service=redis

strict: False
keyed_groups:
  - key: tags.Role
hostnames:
  - private-ip-address

compose:
  ansible_host: private_ip_address

vars:
  ansible_user: ubuntu
  ansible_ssh_private_key_file: ../terraform/redis_key.pem
  ansible_ssh_common_args: >
    -o ProxyCommand="ssh -i ../terraform/redis_key.pem -W %h:%p ubuntu@{{ lookup('aws_ec2', 'tag:Name:redis-bastion').instances[0].public_ip_address }}"
